@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {

  --color-500: #d0d0d0;
  --color-400: #e1e1e1;
  --color-300: #ececec;
  --color-200: #f6f6f6;
  --color-100: #ffffff;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* global css */
h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  padding: 6px 10px;
  border: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}

/* input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #ffffff00;
    border-bottom: 3px solid #b600e4;
}

input[type=text]:focus,
input[type=password]:focus {
    border-bottom: 3px solid #8500a7;
}

input[type=checkbox] {
    width: auto;
    height: auto;
} */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: .1875rem;
  box-sizing: border-box;
  display: block;
  font-size: .875rem;
  margin-bottom: 1rem;
  padding: .275rem;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=date] {
  width: 200px;
  padding: 5px 10px;
  outline: none;
  /* border: none;
    padding: 4px; */
  background-color: #ffffff00;
  border: 3px solid #b600e4;
}

input[type=date]:focus {
  border-bottom: 3px solid #8500a7;
}

/* global css */

.body3 {
  padding-top: 56px;
  background-color: #f5f5f5;
}

.sidebar {

  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #0893f0;
  /* Blue color */
  color: #fff;
  /* White text */
}

.sidebar a {
  color: #000000;
  /* White text for links */
}

.main {
  margin-top: 20px;
}

.navbar {
  background-color: #3498db;
  /* Blue color for the navbar */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
  /* White color for the navbar toggler icon */
}

.body2 {
  background-color: #f8f9fa;
  padding: 20px;
}

.container {
  margin-top: 50px;
  perspective: 1000px;
}

.form-container {
  transform-style: preserve-3d;
  transform: rotateY(20deg);
  transition: transform 0.5s;
}

.form-group {
  margin-bottom: 15px;
}



.body3 {
  background-image: url('images/');
  color: #020000;
  padding: 60px;
}

.container {
  margin-top: 50px;
}

#signInForm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signInForm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 60px;
  height: 35px;


}

.gif {
  width: 60px;
  height: 60px;
  background-color: none;
  border-radius: 20px;
}


.popup {
  /* Set initial styles */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup.active {
  /* Styles when the popup is active */
  opacity: 1;
  visibility: visible;
}

.btn-primary {
  background-color: #0e97f3;
  border-color: #f5f1f1;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #094aac;
  border-color: #172be2;
}

.signup-link {
  color: #000000;
  text-decoration: underline;
}

.signup-link:hover {
  color: #000000;
}

/* dashboard - create task */
#create-task-body {
  background: var(--color-200);
}

.task-label-text {
  font-size: 22px;
  margin: 0;
}

#create-task-body input[type=text],
#create-task-body textarea,
#create-task-body input[type=password] {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #d8d7f1;
  border-bottom: 3px solid #b600e4;
}

#create-task-body input[type=text]:focus,
#create-task-body textarea,
#create-task-body input[type=password]:focus {
  border-bottom: 3px solid #8500a7;
}

#create-task-body input[type=checkbox] {
  width: auto;
  height: auto;
}

#newtask,
#addMember {
  position: relative;
  padding: 0px;
  display: flex;
}

#newtask input,
#addMember input {
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus,
#addMember input:focus {
  outline: none;
  border-color: #0d75ec;
}

#newtask button,
#addMember button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 25%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

#tasks,
#member {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 0px;
  margin-top: 4px;
}

.task,
.task-member {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}

.task span,
.task-member span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background-color: #6583e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}

.task-member button {
  /* background-color: #6583e5; */
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}

.addfilebtn {
  width: auto;
  height: auto;
  background-color: #1f51f5;
  color: #ffffff;
}

/* dashboard - create task */

/* project - create task */
.project-detail-btn-1,
.project-detail-btn-2,
.project-detail-btn-3 {
  background: #003bdf;
  color: #ffffff;
}

.project-detail-btn-4 {
  background: #fc3a3a;
  color: #ffffff;
}

.project-detail-btn-1:hover,
.project-detail-btn-2:hover,
.project-detail-btn-3:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  background: #9ddbff;
  color: #0011ff;
}

.project-detail-btn-4:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  background: #f52121;
  color: #ffffff;
}

.project-view-btn {
  padding: 4px 8px;
  background-color: #5c7afc;
  color: #ffffff;
  border-radius: 5px;
}

.project-view-btn:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  background-color: #002fff;
}

@media (max-width:769px) {}

@media (max-width:576px) {

  /* global css */
  h1 {

    font-size: 60px;
    font-family: "Arial";
    font-weight: bold;
    transition: initial;
  }

  .background {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 700px;
 
    
}
.b1{
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.news{
  border-radius: 10px;
  height: 425px;
}
.cp{
  margin-top: 10px;
  border-radius: 10px;
  height: 375px;
}
.b2{
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  height: 250px;
}
.img2{
  width: 425px;
  height: 250px;
  transition: 0.7s ease;
  border-radius: 10px;
}
.img2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.btn{
  padding: 6px 10px;
  border: none;
  font-weight: bold;
  transition: 0.7s ease;
}
.btn:hover{
  transform: scale(1.1);
}
.scroll{
  margin-top: 10px;
  max-width: 500px;
  max-height: 350px;
} 

.d1{  
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .d1 {
    color: rgb(74, 7, 82);
    font-size: 60px;
    font-family: "Arial";
    font-weight: bold;
    transition: initial;
  }

  .background {

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 700px;

  }

  .d2 {
    background-color: #050419;

  }

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;

  }

  .d3 {
    height: 50px;
    width: 200px;
    background-color: rgb(160, 13, 126);
    border-radius: 50px;
    border: none;
  }

  .d3:hover {
    background-color: rgb(74, 7, 82);
    transition-duration: 1.5s;
  }

  .d4 {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
  }

  /* project - create task */
  .project-detail-btn-1 p,
  .project-detail-btn-2 p,
  .project-detail-btn-3 p,
  .project-detail-btn-4 p {
    font-size: 14px;
  }

  #project-detail-table tbody tr th,
  #project-detail-table tbody tr td {
    font-size: 14px;
  }

  /* .d2 {
    font-weight: bold;
    font-family: "Arial";
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
  }

  .poster-img-1 {
    height: 750px;
    background-repeat: no-repeat;

  }

  .d3 {
    font-weight: bold;
    font-family: "Arial";
    justify-content: center;
    align-items: center;
    font-size: 300px;
    color: rgb(146, 14, 255);
  } */


}